In [1]:
import pandas as pd

## Problem 1
Goal: find the largest sum appearing that isn't seperated by new lines

In [3]:
with open("Data/Day1_1.txt") as file:
    data = file.read()

In [4]:
data = data.split("\n")

In [5]:
lm = 0
total  = 0
for d in data:
    if len(d) == 0:
        if total > lm:
            lm = total
        total = 0
    else:
        total = total + int(d)

In [6]:
lm

66616

## Problem 2
find the sum of the top 3 chunks not separated by new lines

In [7]:
lm = [0,0,0]
total  = 0
for d in data:
    if len(d) == 0:
        if total > min(lm):
            lm.append(total)
            lm.sort()
            lm = lm[1:4]
        total = 0
    else:
        total = total + int(d)

In [8]:
sum(lm)

199172